<section>
  <div>
	  <h2>Recent Comments</h2>
   <ul class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="0" data-excerpt-length="20">
  </div>
  <div>
	<h2>Recent Visitors</h2>
    <ul class="ds-recent-visitors" data-num-items="18" data-avatar-size="35" style="margin-top:6px;"></ul>
  </div>
  {% if index %}
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"fnil"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
  {% endif %}
</section>
